body{
    background-color: black;
    color: #46d164;
}

table{
    margin: 5rem;
}

th{
    display: flex;
    margin-right: 2rem;
}

.container{
    width: 80%;
}

span{
    display: inline-flex;
    width: 11px;
    text-align: center;
    justify-content: center;
}

td{
    word-wrap: break-word;
    white-space: normal;
    max-width: 900px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: transparent;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    border: 4px solid #3dad3d;
    color: #40ad40;
    padding-bottom: 10px;
}

.btn:hover{
    opacity: 80%;
}